[submodule "KMeansClustering"]
	path = KMeansClustering
	url = ../KMeansClustering.git
[submodule "CMakeHelpers"]
	path = CMakeHelpers
	url = ../CMakeHelpers.git
[submodule "EigenHelpers"]
	path = EigenHelpers
	url = ../EigenHelpers.git
